In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df_trend = pd.read_csv("data/MSMVL_trend_90d.csv",header=1)

In [3]:
df_trend.head(3)

          Day  masmovil: (Spain)
0  2018-07-03                 75
1  2018-07-04                100
2  2018-07-05                 97

In [4]:
df_trend['Day'] = df_trend['Day'].map(lambda x: datetime.strptime(x,'%Y-%m-%d').date())

In [5]:
df_trend.head(10)

          Day  masmovil: (Spain)
0  2018-07-03                 75
1  2018-07-04                100
2  2018-07-05                 97
3  2018-07-06                 70
4  2018-07-07                 52
5  2018-07-08                 44
6  2018-07-09                 84
7  2018-07-10                 72
8  2018-07-11                 78
9  2018-07-12                 67

In [6]:
df_stock = pd.read_csv("data/MASe_Daily_stock.csv",header=0)

In [7]:
df_stock.head(3)

           Date     Price   Open   High    Low    Vol. Change %
0  Sep 28, 2018  100.2557  104.7  105.1   99.2  29.87K   -4.23%
1  Sep 27, 2018  104.6792  105.6  106.2  103.8  16.91K   -1.33%
2  Sep 26, 2018  106.0940  103.2  107.2  103.2  21.66K    5.22%

In [8]:
df_stock['Date'] = df_stock['Date'].map(lambda x: datetime.strptime(x,'%b %d, %Y').date())

In [9]:
df_stock.head(3)

         Date     Price   Open   High    Low    Vol. Change %
0  2018-09-28  100.2557  104.7  105.1   99.2  29.87K   -4.23%
1  2018-09-27  104.6792  105.6  106.2  103.8  16.91K   -1.33%
2  2018-09-26  106.0940  103.2  107.2  103.2  21.66K    5.22%

In [10]:
df_full=pd.merge(df_trend,df_stock,right_on='Date', left_on='Day', how='left')

In [11]:
df_full.head(10)

,Day,masmovil: (Spain),Date,Price,Open,High,Low,Vol.,Change %
0,2018-07-03,75,2018-07-03,95.6836,95.9,97.6000,94.4,24.31K,-1.26%
1,2018-07-04,100,2018-07-04,99.9300,97.2,101.6000,97.2,11.68K,4.44%
2,2018-07-05,97,2018-07-05,97.6500,100.2,100.2000,97.6,15.10K,-2.28%
3,2018-07-06,70,2018-07-06,103.5863,99.4,104.4000,99.4,15.61K,6.08%
4,2018-07-07,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2018-07-08,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018-07-09,84,2018-07-09,107.1367,107.6,108.2000,106.2,12.49K,3.43%
7,2018-07-10,72,2018-07-10,106.6993,106.8,107.2104,105.4,6.51K,-0.41%
8,2018-07-11,78,2018-07-11,106.0290,105.1,107.0000,102.6,18.04K,-0.63%
9,2018-07-12,67,2018-07-12,103.0000,102.7,103.8000,102.0,17.30K,-2.86%

In [12]:
def plot(df,x1,y1,y2):
    import plotly.offline as py
    py.init_notebook_mode(connected=True)
    import plotly.graph_objs as go
    from datetime import datetime
    trace1 = go.Scatter(x=df[x1], 
                            y=df[y1],
                            name = y1,
                            line = dict(color = '#97ef9e'),
                            opacity = 0.8)
    trace2 = go.Scatter(x=df[x1],
                           y=df[y2],
                           name = y2,
                           line = dict(color = '#f27d60'),
                           opacity = 0.4)
    data = [trace1,trace2] 
    
    fig = dict(data = data)
    py.iplot(fig)
    
plot(df_full,'Day','Price','masmovil: (Spain)')